/*// BASE STYLES //*/
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
  }
  .grass, .sky, .road{
    position: relative;
  }
  .sky{
    height: 40%;
    background-color: skyblue;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,.33))
  }
  .grass{
    height: 30%;
    background-color: seagreen;
    background-image: linear-gradient(to top, rgba(255,255,255,0) 75%, rgba(255,255,255,.25))
  }
  .road{
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
  }
  /*// ELEMENTS TO ANIMATE //*/

  .lakitu{
    position:absolute;
    top: -200px;
   left: 1500px;
    width:100px;
    animation-name: lakitu;
    animation-duration:3s;
    animation-iteration-count: infinite;
   
    z-index: 5;
    
  }
  
  .billball{
    position: absolute;
    top: -600px;
    left: 0;
    width: 100px;
    animation-name: drive;
    animation-duration:5s ;
   
    animation-iteration-count:infinite ;
    z-index: 5;
    
  }
  .mario{
    position: absolute;
    top: -50px;
    left: 0;
    animation-name: mario-jump;
    animation-duration:6s ;
   
    animation-iteration-count:infinite ;
    z-index: 5;
    
  }
  .luigi{
    position: absolute;
    top: -20px;
    left: -50px;
    z-index: 55;
    animation-name: drive  ;
    animation-duration: 13s; ;
    animation-iteration-count:infinite ;
  }
  .cloud{
    position: absolute;
    top: 120px;
    left: 0;
  }
  .cloud2{
    position: absolute;
    top: 20px;
    right: 0;
    max-width: 200px;
  }
  .cloud{
    animation-name: cloud-move ;
    animation-duration:2s;
    
    animation-iteration-count:infinite ;


  }
 
  .cloud2{
    animation-name: cloud-move ;
    animation-duration:3s;
    
    animation-iteration-count:infinite ;
  }


  .lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width: 6000px;
    position: absolute;
    top: 45%;
    left: 0;
    animation-name:lines-move ;
    animation-duration:1s ;
  
    animation-iteration-count:infinite ;
  }
  /*// KEYFRAMES //*/
  @keyframes drive {
    0%{

      left: -150px;
      
    }


    100%{

      left: 2550px;
        
    }
  }
  @keyframes mario-jump {
    0% {
        transform: translate(0, 0);
    }

    48% {
        transform: translate(900px, -20px);
    }
    50% {
        transform:translate(1000px, -60px);
    }
    52% {
        transform: translate(1100px, -20px);
    }

    100% {
       transform: translate(2000px, 0);
    }
}
  @keyframes cloud-move {
    0%{

        left: 2000px;
        
      
    }
    
    100%{

       left: -550px;
        
    }
  }
  @keyframes lines-move {




0%{

    left: 0px;
}
    
100%{


    left: -3000px
}

   
  
  }

  @keyframes lakitu {


    0%{

        left: 1500px;
    }

    50%{

        left: 1800px;
    }

    100%{

        left: 1500px;
    }
  }